[submodule "rjournal.frontend"]
	path = /frontend
	url = https://github.com/nokken65/rjournal.frontend

[submodule "rjournal.backend"]
	path = /backend
	url = https://github.com/nokken65/rjournal.backend