[submodule "rjournal.frontend"]
	path = rjournal.frontend
	url = https://github.com/nokken65/rjournal.frontend.git

[submodule "rjournal.backend"]
	path = rjournal.backend
	url = https://github.com/nokken65/rjournal.backend.git
